examples/flows/analyzeSales.yml
id: analyzeSales
namespace: prod
tasks:
  - id: downloadCSV
    type: io.kestra.plugin.fs.http.Download
    uri: https://raw.githubusercontent.com/kestra-io/examples/main/datasets/orders.csv
  
  - id: analyzeSales
    type: io.kestra.core.tasks.scripts.Python
    runner: DOCKER
    dockerOptions:
      image: ghcr.io/kestra-io/pydata:latest
    inputFiles:
      data.csv: "{{outputs.downloadCSV.uri}}"
      main.py: |
        import pandas as pd
        from kestra import Kestra

        df = pd.read_csv("data.csv")
        sales = df.total.sum()
        med = df.quantity.median()

        Kestra.outputs({"total_sales": sales, "median_quantity": med})

        top_sellers = df.sort_values(by="total", ascending=False).head(3)
        print(f"Top 3 orders: {top_sellers}")
