examples/flows/outputs/outputFromPythonScript.yml
id: output_from_python_script
namespace: company.team

tasks:
  - id: wdir
    type: io.kestra.plugin.core.flow.WorkingDirectory
    disabled: true
    tasks:
      - id: my_python
        type: io.kestra.plugin.scripts.python.Script
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        script: |
          f = open("myfile.txt", "a")
          f.write("Hi, this is output from a script 👋")
          f.close()
        outputFiles:
          - myfile.txt

      - id: my_shell
        type: io.kestra.plugin.scripts.shell.Commands
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        commands:
          - cat {{ outputs.my_python.outputFiles['myfile.txt']}}
