examples/flows/outputs/passOutputsReturnLog.yml
id: passDataBetweenTasks
namespace: blueprint
description: |

tasks:
    - id: passOutput
      type: io.kestra.core.tasks.debugs.Return
      format: "hello world!"

    - id: pythonVars
      type: io.kestra.core.tasks.scripts.Python
      inputFiles:
        main.py: |
          from kestra import Kestra
          Kestra.outputs({'somekey': 'some value'})

    - id: takeInput
      type: io.kestra.plugin.core.log.Log
      message: "data from previous tasks - {{outputs.passOutput.value}} and {{outputs.pythonVars.vars.somekey}}"