examples/postgres/apiJsonToPostgresPythonScript.yml
id: api_json_to_postgres_python_script
namespace: company.team

tasks:
  - id: download
    type: io.kestra.plugin.fs.http.Download
    uri: https://gorest.co.in/public/v2/users

  - id: add_column
    type: io.kestra.plugin.scripts.jython.FileTransform
    from: "{{ outputs.download.uri }}"
    script: |
      logger.info('row: {}', row)
      for dict_obj in row:
        dict_obj['inserted_from'] = 'kestra'

  - id: to_json
    type: io.kestra.plugin.serdes.json.JsonWriter
    from: "{{ outputs.add_column.uri }}"

  - id: save_users_s3
    type: io.kestra.plugin.aws.s3.Upload
    from: "{{ outputs.to_json.uri }}"
    key: users.json
    bucket: kestraio
    region: eu-central-1
    accessKeyId: "{{ secret('AWS_ACCESS_KEY_ID')}}"
    secretKeyId: "{{ secret('AWS_SECRET_ACCESS_KEY')}}"

  - id: wdir
    type: io.kestra.plugin.core.flow.WorkingDirectory
    tasks:
      - id: save-users-postgres
        type: io.kestra.plugin.scripts.python.Script
        beforeCommands:
          - pip install pandas psycopg2 sqlalchemy > /dev/null
        warningOnStdErr: false
        inputFiles:
          data.jsonl: "{{ outputs.to_json.uri }}"
        script: |
          import json
          import pandas as pd
          from sqlalchemy import create_engine

          with open("data.jsonl", "r") as f:
              users = json.load(f)

          users = pd.DataFrame(users)
          users.head()

          engine = create_engine(f"postgresql://postgres:"{{ secret('DB_PASSWORD') }}"@host.docker.internal:5432")

          users.to_sql("users", engine, if_exists="append", index=False)
