flows/aws_s3/s3MapOverObjects.yml
id: s3MapOverObjects
namespace: prod
description: |

inputs:
  - name: bucket
    type: STRING
    defaults: declarative-data-orchestration

tasks:
  - id: listObjects
    type: io.kestra.plugin.aws.s3.List
    bucket: "{{inputs.bucket}}"
    prefix: powerplant/

  - id: printObjects
    type: io.kestra.core.tasks.log.Log
    message: "found objects {{outputs.listObjects.objects}}"

  - id: mapOverS3Objects
    type: io.kestra.core.tasks.flows.EachParallel
    value: "{{outputs.listObjects.objects}}"
    tasks: # all tasks listed here will run in parallel
    - id: filename
      type: io.kestra.core.tasks.log.Log
      message: "filename {{json(taskrun.value).key}} with size {{json(taskrun.value).size}}"

taskDefaults:
  - type: io.kestra.plugin.aws.s3.List
    values:
      accessKeyId: "{{secret('AWS_ACCESS_KEY_ID')}}"
      secretKeyId: "{{secret('AWS_SECRET_ACCESS_KEY')}}"
      region: eu-central-1
