examples/singer/githubToBigquery_working.yml
id: github
namespace: company.team

tasks:
  - id: github
    type: io.kestra.plugin.singer.taps.GitHub
    accessToken: "{{ secret('GITHUB_ACCESS_TOKEN') }}"
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: python:3.8
    pipPackages:
      - git+https://github.com/tchiotludo/tap-github.git@master
    repositories: ["anna-geller/anna-geller"]
    startDate: "2023-05-01"
    streamsConfigurations:
      - replicationMethod: INCREMENTAL
        selected: true
      - selected: false
        stream: projects
      - selected: false
        stream: project_cards
      - selected: false
        stream: project_columns
      - selected: false
        stream: team_memberships

  - id: bigquery_target
    type: io.kestra.plugin.singer.targets.AdswerveBigQuery
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: python:3.8
    pipPackages:
      - git+https://github.com/adswerve/target-bigquery.git@feature/get-dataset-without-create
    from: "{{ outputs.github.raw }}"
    addMetadataColumns: true
    location: EU
    projectId: geller
    datasetId: github
    serviceAccount: "{{ secret('GCP_SERVICE_ACCOUNT_JSON') }}"
