examples/singer/postgres.yml
id: postgres_singer
namespace: company.team

tasks:
  - id: extract_tap
    type: io.kestra.plugin.singer.taps.PipelinewisePostgres
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: python:3.8
    host: host.docker.internal
    port: 5432
    dbName: postgres
    username: postgres
    password: "{{ secret('DB_PASSWORD') }}"
    streamsConfigurations:
      - replicationMethod: FULL_TABLE
        selected: true

  - id: load_target
    type: io.kestra.plugin.singer.targets.PipelinewisePostgres
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: python:3.8
    host: host.docker.internal
    port: 5432
    dbName: demo
    username: postgres
    password: "{{ secret('DB_PASSWORD') }}"
    from: "{{ outputs.extract_tap.raw }}"
    addMetadataColumns: true
    # primaryKeyRequired: false
    defaultTargetSchema: raw
    defaultTargetSchemaSelectPermission: stage # might be a list grp_stats
    primaryKeyRequired: false
