examples/singer/postgresToBQ_working.yml
id: postgresToBigQuerySinger
namespace: dev
description: |
  This flow will extract raw data from a Postgres database and load it into BigQuery using the Singer protocol.
  The credentials to both Postgres and BigQuery can be provided as environment variables.

tasks:
  - id: extract
    type: io.kestra.plugin.singer.taps.PipelinewisePostgres
    runner: DOCKER
    dockerOptions:
      image: python:3.8
    host: host.docker.internal
    port: 5432
    dbName: postgres
    username: postgres
    password: "{{envs.db_password}}"
    streamsConfigurations:
      - replicationMethod: FULL_TABLE # FULL_TABLE, INCREMENTAL, LOG_BASED
#        replicationKeys: last_updated # Incremental load always needs replication key
#        selected: true
#        stream: string
#        propertiesPattern: list of strings

  - id: bigquery-target
    type: io.kestra.plugin.singer.targets.AdswerveBigQuery
    addMetadataColumns: true
    datasetId: singer
    runner: DOCKER
    dockerOptions:
      image: python:3.8
    from: "{{ outputs.extract.raw }}"
    location: EU
    projectId: geller
    serviceAccount: "{{envs.gcp_creds}}"
