examples/mysql/extractLoadMySQL.yml
id: extractLoadMySQL
namespace: blueprint
description: |
  This flow will extract data from a remote CSV file and load it into a MySQL database. 
  The database credentials can be provided using environment variables.
  
  docker run -d -p 3306:3306 --name mymysql -v mymysqldb:/var/lib/mysql -e MYSQL_ROOT_PASSWORD=qwerasdfyxcv1234 -e MYSQL_DATABASE=stage -e MYSQL_USER=dataengineer -e MYSQL_PASSWORD=qwerasdfyxcv1234 mysql:latest

variables:
  db: jdbc:mysql://host.docker.internal:3306/stage
  table: orders
  user: dataengineer

tasks:
  - id: extract
    type: io.kestra.plugin.fs.http.Download
    uri: https://raw.githubusercontent.com/kestra-io/datasets/main/csv/orders.csv

  - id: query
    type: io.kestra.plugin.jdbc.postgresql.Query
    url: "{{vars.db}}"
    username: "{{vars.user}}"
    password: "{{envs.db_password}}"
    sql: |
      create table if not exists {{vars.table}}
      (
          order_id       integer,
          customer_name  varchar(50),
          customer_email varchar(50),
          product_id     integer,
          price          real,
          quantity       integer,
          total          real
      );

  - id: loadToPostgres
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: "{{vars.db}}"
    username: "{{vars.user}}"
    password: "{{envs.db_password}}"
    from: "{{ outputs.extract.uri }}"
    format: CSV
    header: true
    table: "{{vars.table}}"
