singer/githubToBigquery_working.yml
id: github
namespace: dev

tasks:
  - id: github
    type: io.kestra.plugin.singer.taps.GitHub
    accessToken: "{{ envs.github_access_token }}"
    dockerOptions:
      image: python:3.8
    pipPackages:
      - git+https://github.com/tchiotludo/tap-github.git@master
    repositories: ["anna-geller/anna-geller"]
    runner: DOCKER
    startDate: "2023-05-01"
    streamsConfigurations:
      - replicationMethod: INCREMENTAL
        selected: true
      - selected: false
        stream: projects
      - selected: false
        stream: project_cards
      - selected: false
        stream: project_columns
      - selected: false
        stream: team_memberships

  - id: bigquery-target
    type: io.kestra.plugin.singer.targets.AdswerveBigQuery
    runner: DOCKER
    dockerOptions:
      image: python:3.8
    pipPackages:
      - git+https://github.com/adswerve/target-bigquery.git@feature/get-dataset-without-create
    from: "{{ outputs.github.raw }}"
    addMetadataColumns: true
    location: EU
    projectId: geller
    datasetId: github
    serviceAccount: "{{envs.gcp_creds}}"
