examples/flows/python/analyzeSales.yml
id: analyzeSales
namespace: prod
tasks:
  - id: downloadCSV
    type: io.kestra.plugin.fs.http.Download
    uri: https://gist.githubusercontent.com/anna-geller/15f19626d975877b40c3653b6745dcd6/raw/849e8f69a251ece8bfb32dbd6097e69af6fa7f7f/orders.csv

  - id: analyzeSales
    type: io.kestra.core.tasks.scripts.Python
    inputFiles:
      data.csv: "{{outputs.downloadCSV.uri}}"
      main.py: |
        import pandas as pd
        from kestra import Kestra

        df = pd.read_csv("data.csv")
        sales = df.total.sum()
        med = df.quantity.median()

        Kestra.outputs({"total_sales": sales, "median_quantity": med})

        top_sellers = df.sort_values(by="total", ascending=False).head(3)
        print(f"Top 3 orders: {top_sellers}")
    requirements:
      - pandas
