examples/snowflake/stage.yml
id: stage
namespace: dev

tasks:
  - id: query
    type: io.kestra.plugin.jdbc.snowflake.Query
    url: jdbc:snowflake://<account-identifier>.snowflakecomputing.com?warehouse=DEMO
    username: "{{ secret('SNOWFLAKE_USERNAME') }}"
    password: "{{ secret('SNOWFLAKE_PASSWORD') }}"
    # fetchOne: true
    # autoCommit: false
    database: demo
    schema: public
    sql: |
      CREATE OR REPLACE STAGE SALES_STAGE;

    sql: |
      "{% for row in outputs.update.rows %} INSERT INTO employees 
      (first_name, last_name, email, streetaddress, city, start_date) 
      values ({{ row.first_name }},  {{ row.last_name }}, {{ row.email }}, {{ row.streetaddress }}, 
      {{ row.city }}, {{ row.start_date }}); {% endfor %}"
