flows/postgres/batchLoad.yml
id: batchLoad
namespace: prod.staging
# http://localhost:8080/ui/plugins/io.kestra.plugin.jdbc.postgresql.Batch
tasks:
  - id: query
    type: io.kestra.plugin.jdbc.postgresql.Query
    url: jdbc:postgresql://dev:56982/
    username: postgres
    password: pg_passwd
    sql: |
      SELECT *
      FROM xref
      LIMIT 1500;
    store: true
  - id: update
    type: io.kestra.plugin.jdbc.postgresql.Batch
    from: "{{ outputs.query.uri }}"
    url: jdbc:postgresql://prod:56982/
    username: postgres
    password: pg_passwd
    sql: |
      insert into xref values( ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ? )