flows/duckDbQueryToCsv.yml
id: duckDbQueryToCsv
namespace: prod
description: Analyse salary data

tasks:
  - id: download_csv
    type: io.kestra.plugin.fs.http.Download
    description: Data Job salaries from 2020 to 2023 (source ai-jobs.net)
    uri: https://gist.githubusercontent.com/Ben8t/f182c57f4f71f350a54c65501d30687e/raw/940654a8ef6010560a44ad4ff1d7b24c708ebad4/salary-data.csv

  - id: average_salary_by_position
    type: io.kestra.plugin.jdbc.duckdb.Query
    inputFiles:
      data.csv: "{{ outputs.download_csv.uri }}"
    sql: |
      SELECT 
        job_title,
        ROUND(AVG(salary),2) AS avg_salary
      FROM read_csv_auto('{{workingDir}}/data.csv', header=True)
      GROUP BY job_title
      HAVING COUNT(job_title) > 10
      ORDER BY avg_salary DESC;
    store: true

  - id: export_result
    type: io.kestra.plugin.serdes.csv.CsvWriter
    from: "{{ outputs.average_salary_by_position.uri }}"
