flows/extractUnzipProcessPandasCSV.yml
id: extractUnzipProcessPandasCSV
namespace: prod
description: |
  This flow downloads a zip file, unzips it, and processes the CSV file inside it using Python.
  The downloaded and unzipped file is available as `outputs.task_id.files['filename']` 
  and can be used as input for other tasks.

tasks:
  - id: getZipFile
    type: io.kestra.plugin.fs.http.Download
    uri: "https://wri-dataportal-prod.s3.amazonaws.com/manual/global_power_plant_database_v_1_3.zip"

  - id: unzip
    type: io.kestra.plugin.compress.ArchiveDecompress
    description: |
      if you check the plugin documentation, you will see that the output is a map of unzipped `files` and their 
      corresponding location within Kestra's internal storage accessible as `outputs.task_id.files['filename']`
    from: "{{ outputs.getZipFile.uri }}"
    algorithm: ZIP

  - id: processCSV
    type: io.kestra.core.tasks.scripts.Python
    inputFiles:
      data.csv: "{{outputs.unzip.files['global_power_plant_database.csv']}}"
      main.py: |
        import pandas as pd
        df = pd.read_csv("data.csv", low_memory=False)
        print(df.info())
    requirements:
      - pandas