flows/singer/postgres.yml
id: postgresSinger
namespace: dev
tasks:
  - id: extractTap
    type: io.kestra.plugin.singer.taps.PipelinewisePostgres
    runner: DOCKER
    dockerOptions:
      image: python:3.8
    host: host.docker.internal
    port: 5432
    dbName: postgres
    username: postgres
    password: "{{ secret('DB_PASSWORD') }}"
    streamsConfigurations:
      - replicationMethod: FULL_TABLE
        selected: true

  - id: loadTarget
    type: io.kestra.plugin.singer.targets.PipelinewisePostgres
    runner: DOCKER
    dockerOptions:
      image: python:3.8
    host: host.docker.internal
    port: 5432
    dbName: demo
    username: postgres
    password: "{{ secret('DB_PASSWORD') }}"
    from: "{{ outputs.extractTap.raw }}"
    addMetadataColumns: true
    # primaryKeyRequired: false
    defaultTargetSchema: raw
    defaultTargetSchemaSelectPermission: stage # might be a list grp_stats
    primaryKeyRequired: false
