apps/02_submit_form_get_outputs.yaml
id: form_to_request_and_download_data
type: io.kestra.plugin.ee.apps.Execution
displayName: Form to request and download data

namespace: company.team
flowId: get_data

access: PRIVATE
tags:
  - Reporting
  - Analytics

layout:
  - on: FALLBACK
    blocks:
      - type: io.kestra.ee.apps.blocks.Alert
        style: WARNING
        showIcon: true
        content: Something went wrong

  - on: ERROR
    blocks:
      - type: io.kestra.ee.apps.blocks.Alert
        style: WARNING
        showIcon: true
        content: Something went terribly wrong

  - on: OPEN
    blocks:
      - type: io.kestra.ee.apps.blocks.Markdown
        content: |
          # Request data
          Select the data you want to download.

      - type: io.kestra.plugin.ee.apps.execution.blocks.CreateExecutionForm

      - type: io.kestra.plugin.ee.apps.execution.blocks.CreateExecutionButton
        text: Submit

  - on: CREATED
    blocks:
      - type: io.kestra.ee.apps.blocks.Markdown
        content: |
          ## Fetching your data...
          Don't close this window. The results will be displayed as soon as the processing is complete.

  - on: SUCCESS
    blocks:
      - type: io.kestra.ee.apps.blocks.Markdown
        content: |
          ## Your data is ready for download!
          The data you requested is now available for download.

      - type: io.kestra.plugin.ee.apps.execution.blocks.Outputs

description: |
  This app is intended to request data and download it.
  Example flow:
    ```yaml
    id: get_data
    namespace: company.team

    inputs:
      - id: data
        displayName: Select Data to Download
        type: SELECT
        values:
          - customers
          - employees
          - products
          - stores
          - suppliers
        defaults: customers

    tasks:
      - id: extract
        type: io.kestra.plugin.core.http.Download
        uri: https://huggingface.co/datasets/kestra/datasets/resolve/main/ion/{{ inputs.data }}.ion  

    outputs:
      - id: data
        type: FILE
        value: "{{ outputs.extract.uri }}"
    ```
