apps/04_present_outputs_past_execution.yaml
id: past_execution
type: io.kestra.plugin.ee.apps.Execution
displayName: Display Outputs from a Past Execution
namespace: company.team
flowId: extract_data
executionId: 7AYb6GchogyNa3z7Ot768e
access: PUBLIC

layout:
  - on: SUCCESS
    blocks:
      - type: io.kestra.ee.apps.blocks.Markdown
        content: |
          ## Download the report
          The data you requested is ready for download.

      - type: io.kestra.plugin.ee.apps.execution.blocks.Outputs

description: |
  This app displays the outputs from a past execution. It's useful to provide a simple way to share the results of a flow with non-technical business users.
  Example flow:
    ```yaml
    id: extract_data
    namespace: company.team
    
    tasks:
      - id: extract
        type: io.kestra.plugin.core.http.Download
        uri: https://huggingface.co/datasets/kestra/datasets/resolve/main/ion/products.ion
    
    outputs:
      - id: data
        type: FILE
        description: Data to Download
        value: "{{ outputs.extract.uri }}"  
    ```

template:
  theme: DARK # AUTO, LIGHT, future: YOUR_CUSTOM_THEME
  header:
    image: "kestra://" # TBD how to manage this
  footer:
    enabled: false
