apps/05_data_self_service_app.yaml
id: request_data_form
type: io.kestra.plugin.ee.apps.Execution
displayName: Form to request and download data
namespace: company.team
flowId: get_data
access: PRIVATE
tags:
  - Reporting
  - Analytics

layout:
  - on: OPEN
    blocks:
      - type: io.kestra.ee.apps.blocks.Markdown
        content: |
          ## Request data
          Select the dataset you want to download.
      - type: io.kestra.plugin.ee.apps.execution.blocks.CreateExecutionForm
      - type: io.kestra.plugin.ee.apps.execution.blocks.CreateExecutionButton
        text: Submit

  - on: RUNNING
    blocks:
      - type: io.kestra.ee.apps.blocks.Markdown
        content: |
          ## Fetching your data...
          Don't close this window. The results will be displayed as soon as the processing is complete.
      
      - type: io.kestra.ee.apps.blocks.Loading
      - type: io.kestra.plugin.ee.apps.execution.blocks.Logs
      - type: io.kestra.plugin.ee.apps.execution.blocks.CancelExecutionButton
        text: Cancel request

  - on: SUCCESS
    blocks:
      - type: io.kestra.ee.apps.blocks.Markdown
        content: |
          ## Request processed successfully
          You requested the following dataset:

      - type: io.kestra.plugin.ee.apps.execution.blocks.Inputs

      - type: io.kestra.ee.apps.blocks.Alert
        style: SUCCESS
        showIcon: true
        content: Your data is ready for download!

      - type: io.kestra.plugin.ee.apps.execution.blocks.Outputs

      - type: io.kestra.ee.apps.blocks.Markdown
        content: Find more App examples in the linked repository

      - type: io.kestra.ee.apps.blocks.Button
        text: App examples
        url: https://github.com/kestra-io/examples/tree/main/apps
        style: INFO

      - type: io.kestra.ee.apps.blocks.Button
        text: Submit new request
        url: https://preview-ee-kafka.kestra.io/ui/release/apps/3vT2LpMsQmHiLYyADF1kE9
        style: DEFAULT

description: |
  This app is intended to request data and download it. Example flow:
    ```yaml
    id: get_data
    namespace: company.team

    inputs:
      - id: data
        displayName: Select Data to Download
        type: SELECT
        values: [customers, employees, products, stores, suppliers]
        defaults: customers

      - id: startDate
        displayName: Start Date for your dataset
        type: DATE
        defaults: 2024-12-03

    tasks:
      - id: extract
        type: io.kestra.plugin.core.http.Download
        uri: https://huggingface.co/datasets/kestra/datasets/resolve/main/ion/{{ inputs.data }}.ion

    outputs:
      - id: data
        type: FILE
        value: "{{ outputs.extract.uri }}"
    ```
