apps/05_full_approval_example.yaml
id: myApp
type: io.kestra.plugin.ee.apps.Execution
displayName: Resource request form
namespace: company.team
flowId: request_resources
access: PRIVATE
tags:
  - Platform Team
  - Infrastructure

layout:
  - on: OPEN
    blocks:
      - type: io.kestra.ee.apps.blocks.Markdown
        content: |
          ## Compute Resources Request Form
          Fill out the form below to request compute resources.
          Make sure to include the deadline by which the resources should be provisioned.

      - type: io.kestra.plugin.ee.apps.execution.blocks.CreateExecutionForm

      - type: io.kestra.plugin.ee.apps.execution.blocks.CreateExecutionButton
        text: Submit
        style: DEFAULT

  - on: CREATED
    blocks:
      - type: io.kestra.ee.apps.blocks.Markdown
        content: |
          ## Thank you for your submission!
          Your request is now forwarded to the DevOps team for approval.

      - type: io.kestra.ee.apps.blocks.AutoRefresh

  - on: RUNNING
    blocks:
      - type: io.kestra.ee.apps.blocks.Markdown
        content: |
          ### We're processing your request
          
      - type: io.kestra.ee.apps.blocks.Loading
      - type: io.kestra.plugin.ee.apps.execution.blocks.Logs
      - type: io.kestra.plugin.ee.apps.execution.blocks.CancelExecutionButton
        text: Cancel request
        style: WARNING

      - type: io.kestra.ee.apps.blocks.AutoRefresh

  - on: PAUSE
    blocks:
      - type: io.kestra.ee.apps.blocks.Markdown
        content: |
          ## Validate the request
          Below are the details of the request. 

      - type: io.kestra.plugin.ee.apps.execution.blocks.Inputs
      - type: io.kestra.plugin.ee.apps.execution.blocks.Outputs # FIXME no effect as outputs work only on success

      - type: io.kestra.ee.apps.blocks.Markdown
        content: |
          ### Approve or Reject?
          Please approve or reject the request.

      - type: io.kestra.plugin.ee.apps.execution.blocks.ResumeExecutionForm
      - type: io.kestra.plugin.ee.apps.execution.blocks.ResumeExecutionButton
        text: Approve
        style: SUCCESS

      - type: io.kestra.plugin.ee.apps.execution.blocks.CancelExecutionButton
        text: Reject
        style: DANGER
      
      - type: io.kestra.ee.apps.blocks.AutoRefresh

  - on: RESUME
    blocks:
      - type: io.kestra.ee.apps.blocks.Markdown
        content: |
          ### Thank you for validating the request!

      - type: io.kestra.ee.apps.blocks.AutoRefresh

  - on: SUCCESS
    blocks:
      - type: io.kestra.ee.apps.blocks.Markdown
        content: |
          ### Request processed successfully
          See the details of the processed execution below.

      - type: io.kestra.plugin.ee.apps.execution.blocks.Inputs
      - type: io.kestra.plugin.ee.apps.execution.blocks.Logs
      - type: io.kestra.plugin.ee.apps.execution.blocks.Outputs

      - type: io.kestra.ee.apps.blocks.Markdown
        content: |
          ## You're all set!
          Find more App examples in our Blueprints repository

      - type: io.kestra.ee.apps.blocks.Button
        text: App examples
        url: https://github.com/kestra-io/examples/tree/main/apps
        style: INFO

      - type: io.kestra.ee.apps.blocks.Button
        text: Submit new request
        url: https://preview-ee-kafka.kestra.io/ui/release/apps/5gth4KG3aLIa6LaonWh1Wp
        style: DEFAULT

  - on: FAILURE
    blocks:
      - type: io.kestra.ee.apps.blocks.Markdown
        content: |
          ## Request failed

      - type: io.kestra.ee.apps.blocks.Alert
        style: WARNING
        showIcon: true
        content: |
          The workflow encountered an error during processing. 

      - type: io.kestra.ee.apps.blocks.Markdown
        content: |
          Try again or contact support if the issue persists.

      - type: io.kestra.ee.apps.blocks.Button
        text: Submit new request
        url: https://preview-ee-kafka.kestra.io/ui/release/apps/5gth4KG3aLIa6LaonWh1Wp
        style: DEFAULT

      - type: io.kestra.ee.apps.blocks.Button
        text: Contact support
        url: https://kestra.io/slack
        style: INFO

  - on: FALLBACK
    blocks:
      - type: io.kestra.ee.apps.blocks.Markdown
        content: You're all set. Thanks for using this app!

description: |
  Launch a parametrized workflow execution to provision resources after approval.
  Flow code:
    ```yaml
    id: request_resources
    namespace: company.team

    variables:
      slack_message: >
        New form submission! Click on the Resume button here to approve or reject the request
    #      {{ appLink('request_resources_form') }}

    inputs:
      - id: resource_type
        displayName: Resource Type
        type: SELECT
        required: true
        values: ["Access permissions", "SaaS application", "Development tool", "Cloud VM"]

      - id: access_permissions
        displayName: Access Permissions
        type: SELECT
        values: ["Admin", "Developer", "Editor", "Launcher", "Viewer"]
        allowCustomValue: true
        dependsOn:
          inputs:
            - resource_type
          condition: "{{ inputs.resource_type equals 'Access permissions' }}"

      - id: saas_applications
        displayName: SaaS Application
        type: MULTISELECT
        values: ["Slack", "Notion", "HubSpot", "GitHub", "Jira"]
        allowCustomValue: true
        dependsOn:
          inputs:
            - resource_type
          condition: "{{ inputs.resource_type equals 'SaaS application' }}"

      - id: development_tools
        displayName: Development Tool
        type: SELECT
        values: ["Cursor", "IntelliJ IDEA", "PyCharm Professional", "Datagrip"]
        allowCustomValue: true
        dependsOn:
          inputs:
            - resource_type
          condition: "{{ inputs.resource_type equals 'Development tool' }}"

      - id: cloud_provider
        displayName: Cloud Provider
        type: SELECT
        values: ["AWS", "GCP", "Azure"]
        allowCustomValue: true
        dependsOn:
          inputs:
            - resource_type
          condition: "{{ inputs.resource_type equals 'Cloud VM' }}"

      - id: deadline
        type: DATE
        displayName: Deadline for the resources

      - id: comment
        type: STRING
        displayName: Provide details about the resources you need

    tasks:
      - id: get_service_catalog
        type: io.kestra.plugin.core.http.Download
        uri: https://huggingface.co/datasets/kestra/datasets/resolve/main/ion/catalog.ion

      - id: send_approval_request
        type: io.kestra.plugin.notifications.slack.SlackIncomingWebhook
        url: https://reqres.in/api/slack
        payload: |
          {
            "channel": "#devops",
            "text": {{ render(vars.slack_message) | json }}
          }
          
      - id: wait_for_approval
        type: io.kestra.plugin.core.flow.Pause
        onResume:
          - id: approved
            description: Whether to approve the request
            type: BOOLEAN
            defaults: true
            displayName: Approval Status

          - id: comment
            description: Extra comments about the provisioned resources
            type: STRING
            defaults: All requested resources are approved
            displayName: Approval Comment

      - id: approve
        type: io.kestra.plugin.core.http.Request
        uri: https://reqres.in/api/resources
        method: POST
        contentType: application/json
        body: "{{ inputs }}"

      - id: log
        type: io.kestra.plugin.core.log.Log
        message: |
          Status of the request {{ outputs.wait_for_approval.onResume.comment }}.
          Process finished with {{ outputs.approve.body }}.

    outputs:
      - id: catalog
        type: FILE
        value: "{{ outputs.get_service_catalog.uri }}"
      ```    
