examples/aws_s3/downloadFromS3.yml
id: downloadFromS3
namespace: blueprint
tasks:
  - id: hello
    type: io.kestra.plugin.aws.s3.Download
    accessKeyId: "{{ secret('AWS_ACCESS_KEY_ID') }}"
    secretKeyId: "{{ secret('AWS_SECRET_ACCESS_KEY') }}"
    region: "{{ secret('AWS_DEFAULT_REGION') }}"
    bucket: kestraio
    key: orders.csv

  - id: get
    type: io.kestra.core.tasks.debugs.Return
    format: "{{outputs.hello.uri}}"
    # kestra:///tmp/s3/executions/6a9nbxBWAEnVpKpk6Fjiez/tasks/hello/73o9pExNRmBDO7KuzRkkcg/15375989964510722633.tmp
    # kestra:///tmp/s3/executions/6a9nbxBWAEnVpKpk6Fjiez/tasks/hello/73o9pExNRmBDO7KuzRkkcg/15375989964510722633.csv
# wdir: /tmp/kestra-wd/tmp/5z31BDh5pgS02GN95hGTAC
