examples/aws_s3/s3MapOverObjects.yml
id: s3_map_over_objects
namespace: company.team

inputs:
  - name: bucket
    type: STRING
    defaults: declarative-data-orchestration

tasks:
  - id: list_objects
    type: io.kestra.plugin.aws.s3.List
    bucket: "{{inputs.bucket}}"
    prefix: powerplant/

  - id: print_objects
    type: io.kestra.plugin.core.log.Log
    message: "found objects {{ outputs.list_objects.objects }}"

  - id: map_over_s3_objects
    type: io.kestra.plugin.core.flow.ForEach
    concurrencyLimit: 0
    values: "{{ outputs.list_objects.objects }}"
    tasks: # all tasks listed here will run in parallel
      - id: filename
        type: io.kestra.plugin.core.log.Log
        message: "filename {{ json(taskrun.value).key }} with size {{ json(taskrun.value).size }}"

pluginDefaults:
  - type: io.kestra.plugin.aws.s3.List
    values:
      accessKeyId: "{{ secret('AWS_ACCESS_KEY_ID') }}"
      secretKeyId: "{{ secret('AWS_SECRET_KEY_ID') }}"
      region: "{{ secret('AWS_DEFAULT_REGION') }}"
