examples/aws_s3/x_ways_to_upload_html_file.yml
id: s3
namespace: company.team

tasks:
  - id: wdir
    type: io.kestra.plugin.core.flow.WorkingDirectory
    tasks:
      - id: cli
        type: io.kestra.plugin.aws.cli.AwsCLI
        region: "{{ secret('AWS_DEFAULT_REGION') }}"
        accessKeyId: "{{ secret('AWS_ACCESS_KEY_ID') }}"
        secretKeyId: "{{ secret('AWS_SECRET_ACCESS_KEY') }}"
        inputFiles:
          index.html: |
            <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Kestra flow page</title>
            </head>
            <body>
                <header>
                    <h1>Hello world</h1>
                </header>
            </body>
            </html>
        commands:
          - aws s3 cp {{ workingDir }}/index.html s3://kestraio/index3.html --content-type text/html
        outputFiles:
          - "*.html"

      - id: upload_index2
        type: io.kestra.plugin.aws.s3.Upload
        bucket: kestraio
        from: "{{ outputs.cli.uris['index.html'] }}"
        key: index2.html
        metadata:
          Content-Type: text/html
        region: "{{ secret('AWS_DEFAULT_REGION') }}"
        accessKeyId: "{{ secret('AWS_ACCESS_KEY_ID') }}"
        secretKeyId: "{{ secret('AWS_SECRET_ACCESS_KEY') }}"

      - id: upload_index
        type: io.kestra.plugin.aws.s3.Upload
        bucket: kestraio
        from: "{{ outputs.cli.uris['index.html'] }}"
        key: index.html
        metadata:
          Content-Type: text/html
        region: "{{ secret('AWS_DEFAULT_REGION') }}"
        accessKeyId: "{{ secret('AWS_ACCESS_KEY_ID') }}"
        secretKeyId: "{{ secret('AWS_SECRET_ACCESS_KEY') }}"

      - id: upload_to_s3
        type: io.kestra.plugin.scripts.python.Script
        disabled: true
        env:
          AWS_ACCESS_KEY_ID: "{{ secret('AWS_ACCESS_KEY_ID') }}"
          AWS_SECRET_ACCESS_KEY: "{{ secret('AWS_SECRET_ACCESS_KEY') }}"
          AWS_DEFAULT_REGION: "{{ secret('AWS_DEFAULT_REGION') }}"
        taskRunner:
          type: io.kestra.plugin.scripts.runner.docker.Docker
        containerImage: ghcr.io/kestra-io/aws:latest
        script: |
          import boto3
          file = "index.html"
          with open(file, "r") as file:
            html_content = file.read()
          
          s3 = boto3.resource("s3")
          s3.Bucket("kestraio").put_object(Key="index2.html", ContentType="text/html", Body=html_content)