blueprints_published/129_parse_pdf.yml
# id: new
# https://demo.kestra.io/ui/blueprints/community/new
# http://localhost:8080/ui/blueprints/new
# Download a PDF file and extract text from it using Apache Tika
description: |
  This flow downloads a PDF file using the HTTP Download task. 
  Then, it extracts text from the PDF file using Apache Tika.
  Finally, it logs the extracted text using the Log task.

id: parse_pdf
namespace: blueprint

tasks:
  - id: download_pdf
    type: io.kestra.plugin.fs.http.Download
    uri: https://huggingface.co/datasets/kestra/datasets/resolve/main/pdf/app_store.pdf

  - id: parse_text
    type: io.kestra.plugin.tika.Parse
    from: '{{ outputs.download_pdf.uri }}'
    contentType: TEXT
    store: false

  - id: log_extracted_text
    type: io.kestra.core.tasks.log.Log
    message: "{{ outputs.parse.result.content }}"