blueprints_published/24_s3parallelUploads.yml
# id: 24
# https://demo.kestra.io/ui/blueprints/community/24
# http://localhost:8080/ui/blueprints/24
# Download a zip file, unzip it and upload all files in parallel to AWS S3 - using taskDefaults to avoid boilerplate code
# Tags: Inputs, Output, Parallel, S3
description: |
  This flow downloads a zip file, unzips it, and uploads all files to S3 in parallel.
  
  This flow assumes AWS credentials stored as secrets `AWS_ACCESS_KEY_ID`, `AWS_SECRET_ACCESS_KEY` and `AWS_DEFAULT_REGION` configured using `taskDefaults` to avoid boilerplate configuration.


id: 24_s3parallelUploads
namespace: blueprint

inputs:
  - name: bucket
    type: STRING
    defaults: declarative-data-orchestration

tasks:
  - id: getZipFile
    type: io.kestra.plugin.fs.http.Download
    uri: https://wri-dataportal-prod.s3.amazonaws.com/manual/global_power_plant_database_v_1_3.zip

  - id: unzip
    type: io.kestra.plugin.compress.ArchiveDecompress
    algorithm: ZIP
    from: "{{outputs.getZipFile.uri}}"

  - id: parallelUploadToS3
    type: io.kestra.core.tasks.flows.Parallel
    tasks:
      - id: csv
        type: io.kestra.plugin.aws.s3.Upload
        from: "{{outputs.unzip.files['global_power_plant_database.csv']}}"
        key: powerplant/global_power_plant_database.csv

      - id: pdf
        type: io.kestra.plugin.aws.s3.Upload
        from: "{{outputs.unzip.files['Estimating_Power_Plant_Generation_in_the_Global_Power_Plant_Database.pdf']}}"
        key: powerplant/Estimating_Power_Plant_Generation_in_the_Global_Power_Plant_Database.pdf

      - id: txt
        type: io.kestra.plugin.aws.s3.Upload
        from: "{{outputs.unzip.files['RELEASE_NOTES.txt']}}"
        key: powerplant/RELEASE_NOTES.txt

taskDefaults:
  - type: io.kestra.plugin.aws.s3.Upload
    values:
      accessKeyId: "{{ secret('AWS_ACCESS_KEY_ID') }}"
      secretKeyId: "{{ secret('AWS_SECRET_ACCESS_KEY') }}"
      region: "{{ secret('AWS_DEFAULT_REGION') }}"
      bucket: "{{inputs.bucket}}"
