blueprints_published/25_s3MapOverObjects.yml
# id: 25
# https://demo.kestra.io/ui/blueprints/community/25
# http://localhost:8080/ui/blueprints/25
# List objects in an S3 bucket and process them in parallel
# Tags: S3, Parallel, Variables, Inputs, Outputs
description: |
  This flow lists objects with a specific prefix in an S3 bucket and then processes each object in parallel. 
  
  This flow assumes AWS credentials stored as secrets `AWS_ACCESS_KEY_ID`, `AWS_SECRET_ACCESS_KEY` and `AWS_DEFAULT_REGION`.

id: 25_s3MapOverObjects
namespace: blueprint

inputs:
  - name: bucket
    type: STRING
    defaults: declarative-data-orchestration

tasks:
  - id: listObjects
    type: io.kestra.plugin.aws.s3.List
    bucket: "{{inputs.bucket}}"
    prefix: powerplant/
    accessKeyId: "{{ secret('AWS_ACCESS_KEY_ID') }}"
    secretKeyId: "{{ secret('AWS_SECRET_ACCESS_KEY') }}"
    region: "{{ secret('AWS_DEFAULT_REGION') }}"

  - id: printObjects
    type: io.kestra.core.tasks.log.Log
    message: "found objects {{outputs.listObjects.objects}}"

  - id: mapOverS3Objects
    type: io.kestra.core.tasks.flows.EachParallel
    value: "{{outputs.listObjects.objects}}"
    tasks: # all tasks listed here will run in parallel
    - id: filename
      type: io.kestra.core.tasks.log.Log
      message: "filename {{json(taskrun.value).key}} with size {{json(taskrun.value).size}}"
