blueprints_published/44_passDataBetweenTasks.yml
# id: 44
# https://demo.kestra.io/ui/blueprints/community/44
# http://localhost:8080/ui/blueprints/44
# Pass data between Python script tasks and Shell tasks using Outputs
# Tags: Python Outputs
description: |
  This flow shows how to pass data between tasks using outputs.
  The first two tasks return some outputs and the next 2 tasks read those values for further processing.
  
  Check the "Outputs" section in each task documentation to see what outputs it returns, and check the "Outputs" tab on the Execution page to validate what outputs are generated by this flow.
  - In case of the `Return`task, it returns a value under the `value` key.
  - All script tasks, including Python, return a map of outputs under the `vars` key. To access outputs in downstream tasks, use the format `{{outputs.task_name.vars.key_name}}`. Additionally, script tasks can return files as shown with the `myoutput.json` file.

id: 44_passDataBetweenTasks
namespace: blueprint

tasks:
    - id: passOutput
      type: io.kestra.core.tasks.debugs.Return
      format: "hello"

    - id: pyOutputs
      type: io.kestra.plugin.scripts.python.Script
      docker:
        image: ghcr.io/kestra-io/pydata:latest
      script: |
        import json
        from kestra import Kestra

        my_kv_pair = {'mykey': 'from Kestra'}
        Kestra.outputs(my_kv_pair)

        with open('{{outputDir}}/myoutput.json', 'w') as f:
            json.dump(my_kv_pair, f)

    - id: takeInputs
      type: io.kestra.core.tasks.log.Log
      message: |
        data from previous tasks: {{outputs.passOutput.value}} and {{outputs.pyOutputs.vars.mykey}}

    - id: checkOutputFile
      type: io.kestra.plugin.scripts.shell.Commands
      runner: PROCESS
      commands:
        - cat {{outputs.pyOutputs.outputFiles['myoutput.json']}}