blueprints_published/87_jsonFromAPItoMongoDB.yml
# id: 87
# https://demo.kestra.io/ui/blueprints/community/87
# http://localhost:8080/ui/blueprints/87
# Scrape API in a Python task running in a Docker container and load the JSON document to a MongoDB collection
# Tags: python outputs
description: |
  This flow will scrape GitHub API in a Python task running in a Docker container, and will output the result to a JSON file. That JSON API payload is then loaded to a MongoDB collection.

id: 87_jsonFromAPItoMongoDB
namespace: blueprint

tasks:
  - id: wdir
    type: io.kestra.core.tasks.flows.WorkingDirectory
    tasks:
      - id: generateJSON
        type: io.kestra.plugin.scripts.python.Script
        runner: DOCKER
        docker:
          image: ghcr.io/kestra-io/pydata:latest
        script: | 
          import requests
          import json
          from kestra import Kestra

          response = requests.get("https://api.github.com")
          data = response.json()

          with open("output.json", "w") as output_file:
              json.dump(data, output_file)
          
          Kestra.outputs({'data': data, 'status': response.status_code})

      - id: jsonFiles
        type: io.kestra.core.tasks.storages.LocalFiles
        outputs:
          - output.json

  - id: loadToMongoDB
    type: io.kestra.plugin.mongodb.Load
    connection:
      uri: mongodb://host.docker.internal:27017/
    database: local
    collection: github
    from: "{{outputs.jsonFiles.uris['output.json']}}"
