blueprints_published/9_passDataBetweenSubflows.yml
# id: 9
# https://demo.kestra.io/ui/blueprints/community/9
# http://localhost:8080/ui/blueprints/9
# Pass data between subflows — use outputs from the child flow in a parent flow
# Tags: Outputs
description: |
  First, create a child flow:
  
  ```yaml
  id: flow1
  namespace: blueprint
  tasks:
    - id: returnData
      type: io.kestra.core.tasks.debugs.Return
      format: this is a secret message returned from {{flow.id}}
  ```
  
  Then, you can run this parent flow that will retrieve data from the subflow and store it under a specified key. In this example, the subflow uses the key `dataFromChildFlow`.

id: 9_passDataBetweenSubflows
namespace: blueprint

tasks:
  - id: flow1
    type: io.kestra.core.tasks.flows.Flow
    namespace: blueprint
    flowId: flow1
    wait: true
    outputs:
      dataFromChildFlow: "{{outputs.returnData.value}}"

  - id: log
    type: io.kestra.core.tasks.log.Log
    message: "{{outputs.flow1.outputs.dataFromChildFlow}}"