postgres/eachSequentialPostgres.yml
id: eachSequentialPostgres
namespace: prod.staging
tasks:
  - id: zombies
    type: io.kestra.plugin.jdbc.postgresql.Query
    url: jdbc:postgresql://kestra-prod-postgresql:5432/kestra
    username: **
    password: **
    sql: "SELECT id, state_current, state_duration, start_date, end_date, to_json(value) FROM public.executions WHERE state_current = 'RUNNING' AND state_duration > 900 AND deleted = true ORDER BY key ASC LIMIT 100"
    fetch: true
    #store: true
  - id: each
    type: io.kestra.core.tasks.flows.EachSequential
    tasks:
      - id: return
        type: io.kestra.core.tasks.debugs.Return
        #format: "{{json taskrun.value['to_json']}}"
        format: "{{ json(taskrun.value).id }}"
    value: "{{outputs.zombies.rows}}"
