blueprints/149_weaviate_load_and_query.yml
id: weaviate_load_and_query
namespace: blueprint

tasks:
  - id: json
    type: io.kestra.plugin.fs.http.Download
    uri: 
      https://raw.githubusercontent.com/weaviate-tutorials/quickstart/main/data/jeopardy_tiny.json

  - id: json_to_ion
    type: io.kestra.plugin.serdes.json.JsonReader
    from: "{{ outputs.json.uri }}"
    newLine: false

  - id: batch_load
    type: io.kestra.plugin.weaviate.BatchCreate
    url: https://demo-oczq9ryw.weaviate.network
    apiKey: "{{ secret('WEAVIATE_API_KEY') }}"
    className: Questions
    objects: "{{ outputs.json_to_ion.uri }}"

  - id: batch_load_map
    type: io.kestra.plugin.weaviate.BatchCreate
    url: demo-oczq9ryw.weaviate.network
    apiKey: "{{ secret('WEAVIATE_API_KEY') }}"
    className: Users
    objects:
      - company: kestra
        user: Anna
        city: Berlin
      - company: initech
        user: Peter Gibbons
        city: Austin
      - company: initech
        user: Bill Lumbergh
        city: Austin
      - company: initech
        user: Bob Slydell
        city: Austin

  - id: query_users
    type: io.kestra.plugin.weaviate.Query
    url: demo-oczq9ryw.weaviate.network # also works with https://cluster.url
    apiKey: "{{ secret('WEAVIATE_API_KEY') }}"
    query: |
      {
        Get {
          Questions(limit: 10) {
            answer
            category
            question
          }
        }
      }      

  - id: generative_search
    type: io.kestra.plugin.weaviate.Query
    disabled: true
    url: https://demo-oczq9ryw.weaviate.network
    apiKey: "{{ secret('WEAVIATE_API_KEY') }}"
    headers:
      X-OpenAI-Api-Key: "{{ secret('OPENAI_API_KEY') }}"
    query: |-
      {
        Get {
          Question(limit: 5, nearText: {concepts: ["biology"]}) {
            answer
            category
            question
          }
        }
      }
