blueprints/207.yml
id: couchbase_to_pandas
namespace: blueprint

tasks:
  - id: "query_couchbase"
    type: "io.kestra.plugin.couchbase.Query"
    connectionString: couchbase://10.57.233.41
    username: admin
    password: admin_password
    query: |
      SELECT id, country, name, type, iata, icao 
      FROM `travel-sample`.`inventory`.`airline`
    fetchType: FETCH

  - id: pandas
    type: io.kestra.plugin.scripts.python.Script
    beforeCommands:
      - pip install pandas > /dev/null
    warningOnStdErr: false
    script: |-
      import pandas as pd

      data = {{ outputs.query_couchbase.rows }}
      df = pd.DataFrame(data)
      agg_df = df.groupby('country')['country'].count().reset_index(name="count")
      print(agg_df.head())
      agg_df.to_csv("{{ outputDir }}/final.csv", index=False)
