blueprints/36.yml
id: pythonDockerArtifactRegistryGCP
namespace: blueprint

tasks:
  - id: wdir
    type: io.kestra.core.tasks.flows.WorkingDirectory
    tasks:
      - id: downloadCSV
        type: io.kestra.plugin.fs.http.Download
        uri: https://huggingface.co/datasets/kestra/datasets/raw/main/csv/orders.csv

      - id: fetchAuthToken
        type: io.kestra.plugin.gcp.auth.OauthAccessToken
        projectId: YOUR_GCP_PROJECT_NAME
        serviceAccount: "{{ secret('GCP_CREDS') }}"

      - id: analyzeSales
        type: io.kestra.plugin.scripts.python.Script
        inputFiles:
          data.csv: "{{outputs.downloadCSV.uri}}"
        script: |
          import pandas as pd
          from kestra import Kestra

          df = pd.read_csv("data.csv")
          sales = df.total.sum()
          med = df.quantity.median()

          Kestra.outputs({"total_sales": sales, "median_quantity": med})

          top_sellers = df.sort_values(by="total", ascending=False).head(3)
          print(f"Top 3 orders: {top_sellers}")
        docker:
          image: yourGcpRegion-docker.pkg.dev/YOUR_GCP_PROJECT_NAME/flows/python:latest
          config: |
            {
              "auths": {
                "europe-west3-docker.pkg.dev": {
                    "username": "oauth2accesstoken",
                    "password": "{{outputs.fetchAuthToken.accessToken.tokenValue}}"
                  }
              }
            }
