blueprints/65.yml
id: extractLoadPostgres
namespace: blueprint

variables:
  db: jdbc:postgresql://host.docker.internal:5432/postgres
  table: public.orders

tasks:
  - id: extract
    type: io.kestra.plugin.fs.http.Download
    uri: https://raw.githubusercontent.com/kestra-io/datasets/main/csv/orders.csv

  - id: query
    type: io.kestra.plugin.jdbc.postgresql.Query
    url: "{{vars.db}}"
    username: postgres
    password: "{{ secret('DB_PASSWORD') }}"
    sql: |
      create table if not exists {{vars.table}}
      (
          order_id       integer,
          customer_name  varchar(50),
          customer_email varchar(50),
          product_id     integer,
          price          real,
          quantity       integer,
          total          real
      );

  - id: loadToPostgres
    type: io.kestra.plugin.jdbc.postgresql.CopyIn
    url: "{{vars.db}}"
    username: postgres
    password: "{{ secret('DB_PASSWORD') }}"
    from: "{{ outputs.extract.uri }}"
    format: CSV
    header: true
    table: "{{vars.table}}"
