blueprints/70_postgresToBigQuery.yml
id: postgresToBigQuery
namespace: blueprint

tasks:
  - id: extract
    type: io.kestra.plugin.singer.taps.PipelinewisePostgres
    docker:
      image: python:3.8
    host: host.docker.internal
    port: 5432
    dbName: postgres
    username: postgres
    password: "{{ secret('DB_PASSWORD') }}"
    streamsConfigurations:
      - replicationMethod: FULL_TABLE # FULL_TABLE, INCREMENTAL, LOG_BASED
        selected: true

  - id: load
    type: io.kestra.plugin.singer.targets.AdswerveBigQuery
    addMetadataColumns: true
    datasetId: singer
    docker:
      image: python:3.8
    from: "{{ outputs.extract.raw }}"
    location: US
    projectId: yourProjectName
    serviceAccount: "{{ secret('GCP_CREDS') }}"
