blueprints/72_elasticsearch.yml
id: elasticsearch
namespace: blueprint

inputs:
  - name: pokemon
    type: STRING
    defaults: jigglypuff

variables:
  host: http://host.docker.internal:9200

tasks:
  - id: extract
    type: io.kestra.plugin.fs.http.Request
    uri: https://pokeapi.co/api/v2/pokemon/{{inputs.pokemon}}
    method: GET

  - id: load
    type: io.kestra.plugin.elasticsearch.Put
    connection:
      hosts:
        - "{{vars.host}}"
    index: "local"
    key: "{{inputs.pokemon}}"
    value: "{{outputs.extract.body}}"
  - id: parallel
    type: io.kestra.core.tasks.flows.Parallel
    tasks:
      - id: search
        type: io.kestra.plugin.elasticsearch.Search
        connection:
          hosts:
            - "{{vars.host}}"
        indexes:
          - local
        request:
          query:
            term:
              name:
                value: "{{inputs.pokemon}}"
      - id: scroll
        type: io.kestra.plugin.elasticsearch.Scroll
        connection:
          hosts:
            - "{{vars.host}}"
        indexes:
          - local
        request:
          query:
            term:
              name:
                value: "{{inputs.pokemon}}"
